{{> headers this}}

<div class="container">
<div class="alert alert-primary" id ="number" role="alert">
  
</div>
<iframe
 style="width: 50%; height: 350px; overflow: hidden;"
 src="https://playpager.com/embed/chess/index.html"
 scrolling="no">
</iframe>

<iframe 
style="width: 50%; height: 350px; overflow: hidden; margin-left:50%;"
src="https://www.addictinggames.com/embed/html5-games/20268" 
scrolling="no">
</iframe>

<iframe 
style="width: 50%; height: 350px; overflow: hidden;"
src="https://www.addictinggames.com/embed/html5-games/18496" 
scrolling="no">
</iframe>

<iframe 
style="width: 50%; height: 350px; overflow: hidden; margin-left:50%;"
src="https://www.addictinggames.com/embed/html5-games/24959" 
scrolling="no"></iframe>
</div>